@if (funscript_manager.User_entered_funscript)
{
    <div class="control_flex">
        <div class="button_flex">
            @foreach (var buttonInfo in ButtonTexts)
            {
                <button class="btn btn-primary mb-2 btn-block" @onclick="() => ButtonClicked(buttonInfo)">
                    @buttonInfo
                </button>
            }
        </div>

        @if (componentToRender == ComponentType.Offset)
        {
            <div class="Offset">
                <Offset GrandChildData="@data" GrandChildDataChanged="HandleGrandChildDataChanged" />
            </div>
        }
        else if (componentToRender == ComponentType.FunHalver)
        {
            <div class="Offset">
                <FunHalver GrandChildData="@data" GrandChildDataChanged="HandleGrandChildDataChanged" />
            </div>
        }
        else if (componentToRender == ComponentType.Fundoubler)
        {
            <div class="Offset">
                <Fundoubler GrandChildData="@data" GrandChildDataChanged="HandleGrandChildDataChanged" />
            </div>
        }
        else if (componentToRender == ComponentType.FunHalver2)
        {
            <div class="Offset">
                <FunHalver_2 GrandChildData="@data" GrandChildDataChanged="HandleGrandChildDataChanged" />
            </div>
        }
        else if (componentToRender == ComponentType.FunQuarter)
        {
            <div class="Offset">
                <FunQuarter GrandChildData="@data" GrandChildDataChanged="HandleGrandChildDataChanged" />
            </div>
        }




    </div>




    @if (funscript_manager.User_Applied_modifier)
    {

        <div class="below-control-flex">

            <DisplayModifedData funscript="@funscript_manager.modified_funscript" />
        </div>

    }

}


@code {

    [Parameter]
    public bool data { get; set; }


    [Parameter]
    public EventCallback<bool> datachanged { get; set; }


    private async Task HandleGrandChildDataChanged(bool newData)
    {
        data = true;
        await datachanged.InvokeAsync(data);
    }


    public enum ComponentType
    {
        None,
        Offset,
        FunHalver,
        Fundoubler,
        FunHalver2,
        FunQuarter,

    }

    private ComponentType componentToRender = ComponentType.None;
    private List<string> ButtonTexts = new List<string>
{
"Offset", "FunHalver", "Fundoubler", "FunHalver2", "FunQuarter",
};

    private void ButtonClicked(string buttonText)
    {
        switch (buttonText)
        {
            case "Offset":
                // Handle Button 1 click
                componentToRender = ComponentType.Offset;
                break;
            case "FunHalver":
                // Handle Button 2 click
                componentToRender = ComponentType.FunHalver;
                break;
            case "Fundoubler":
                // Handle Button 3 click
                componentToRender = ComponentType.Fundoubler;
                break;
            case "FunHalver2":
                // Handle Button 3 click
                componentToRender = ComponentType.FunHalver2;
                break;
            case "FunQuarter":
                // Handle Button 3 click
                componentToRender = ComponentType.FunQuarter;
                break;

        }



    }

    protected override void OnInitialized()
    {
        // Listen for changes in the static class and trigger a rerender if needed
        funscript_manager.RerenderNeededEvent += HandleRerenderNeeded;
    }

    private void HandleRerenderNeeded()
    {

        StateHasChanged();
    }
}